<div class="row content-col">
  <div class="col-6 content-col">
    <p>{{data.text}}</p>
  </div>
  <div class="col-6 content-col">
      <img class="img-fluid" [src]="data.img">
  </div>

  <div class="col-12 content-col">
      <img class="img-fluid" [src]="data.video">
  </div>
</div>