
 .content-col {
    padding: 0 7px;
    margin-top: 5px;
  }
  
  
 img {
    border-radius: 8px;
  }
  
 h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
 h3 {
    font-size: 12px;
    margin-bottom: 0px;
  }
  
 p {
    font-size: 7px;
    line-height: 12px;
    color: #292754;
  }