/*select project dropdown*/
.select-project-dropdown {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px 15px 15px 35px;
    margin: 30px -20px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .select-project-dropdown .select-project-letter {
    background-color: #7148fc;
    color: #ffffff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
  }
  
  .select-project-dropdown .select-project-name-col {
    text-align: left;
    padding-left: 20px;
  }
  
  .select-project-dropdown .select-project-name {
    font-size: 20px;
  }
  
  .select-project-dropdown .select-project-name img {
    height: 8px;
    margin-left: 10px;
  }
  
  .select-project-dropdown .select-project-lable {
    font-size: 15px;
    color: #bababa;
  }