
  
  <div class="select-project d-flex justify-content-center">
      <div class="col-md-3 text-center">
          <div class="select-project-dropdown row">
              <div class="select-project-letter-col">
                  <div class="select-project-letter">
                      N
                  </div>
              </div>
              <div class="select-project-name-col">
                  <div class="select-project-name">Nasaq Team <img class="dropdown-icon" src="assets/img/path2@2x.png"></div>
                  <div class="select-project-lable">UI/UX Board</div>
              </div>
          </div>
      </div>
  </div>
