.thumbnail-img {
    margin: 0 -5px;
  }
  
 img {
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
 