.task-col-inner {
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 40px;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .task-col-inner.placeholder {
    text-align: center;
    color: #d7d6d6;
    padding: 18px;
  }