.done-task-content {
    margin: 10px -15px;
    text-align: center;
    padding: 35px;
    border-radius: 6px;
    color: #ffffff;
  }
  
  .purple-col {
    background-color: #7148fc;
  }
  
  .orange-col {
    background-color: #f5a623;
  }
  
  .blue-col  {
    background-color: #4a90e2;
  }
  
  .green-col {
    background-color: #04cda0;
  }