<app-header></app-header>

<div class="board">
    <div class="container main-contaienr">

    <fab></fab>
    <drop-down></drop-down>

        <div class="row">
            <div *ngFor="let board of boards" class="col-sm-4 col-md-4 col-lg-3 task-col" [ngClass]="[board.boardColor]" 
            cdkDropList            
            [cdkDropListData]="board.tasks"
            [cdkDropListConnectedTo]="listIds"
            (cdkDropListDropped)="drop($event)">
                <div class="task-col-inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="task-col-title">
                                {{board.name}}
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let task of board.tasks" cdkDrag>
                        <div class="row normal-task-content" [ngClass]="{'thumbnail-content' : task.image}" (click)="moveTask(task.id,board.id)">
                            <div class="col-12 content-col">
                                <h3>{{task.name}}</h3>
                            </div>
                            <div *ngIf="task.attachment" class="col-12 content-col" >
                                <task-attachment [attachment]="task.attachment"></task-attachment>
                            </div>
                            <task-video *ngIf="task.video" [data]="task.video"></task-video>
                            <div *ngIf="task.followers" class="col-12 content-col normal-task-footer">
                                <task-followers [followers]="task.followers"></task-followers>                       
                            </div>                            
                            <task-img *ngIf="task.image" [image]="task.image"></task-img>
                        </div>
                        <task-done class="col-12 content-col" [doneClass]="board.boardColor"></task-done> 
                    </div>
                </div>
                <add-card></add-card>
            </div>
        </div>                     
    </div>
</div>