.board{
  background-color: #f5f7fa;

}
.container .main-contaienr {
  padding-bottom: 30px;
}


/*project tasks*/
.task-col {
  padding-right: 10px;
  padding-left: 10px;
}
.task-col-inner {
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 40px;
  padding-bottom: 20px;
  margin-top: 20px;
}


.task-col .task-col-title {
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: 17px;
  font-weight: 500;
  position: relative;
}

.task-col.purple-col .task-col-title {
  color: #7148fc;
}

.task-col.orange-col .task-col-title {
  color: #f5a623;
}

.task-col.blue-col .task-col-title {
  color: #4a90e2;
}

.task-col.green-col .task-col-title {
  color: #04cda0;
}

.task-col .task-col-title::before {
  content: '';
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: calc(50% - 3px);

}

.task-col.purple-col .task-col-title::before {
  border: 1px solid #7148fc;
}

.task-col.orange-col .task-col-title::before {
  border: 1px solid #f5a623;
}

.task-col.blue-col .task-col-title::before {
  border: 1px solid #4a90e2;
}

.task-col.green-col .task-col-title::before {
  border: 1px solid #04cda0;
}

.task-col .content-col {
  padding: 0 7px;
  margin-top: 5px;
}

.task-col .normal-task-content {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  padding: 20px 5px;
  margin-top: 15px;
}

.task-col h3 {
  font-size: 12px;
  margin-bottom: 0px;
}



.row.normal-task-content.thumbnail-content {
  padding-bottom: 0;
}


.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



/*RESPONSIVE*/
@media (min-width: 1200px) {
  .container.main-contaienr {
      max-width: 95%;
  }
}

@media (max-width: 768px) {
  .header{
      padding: 30px;
  }
  .logo{
      top: 40px;
  }
  li.nav-item {
      padding: 15px 0px;
  }
  .user-dropdown{
      margin-top: 20px;
  }
}