<div class="task-followers">
  <div class="plus-div">+</div>
  <div *ngFor="let follower of followers" class="follower"><img [src]="follower"></div>
  <div class="follower number">+{{followers.length}}</div>
</div>
<div class="dashes">
  <div class="dash dark"></div>
  <div class="dash medium"></div>
  <div class="dash light"></div>
</div>