.task-followers {
    margin-top: 10px;
    display: inline-block;
  }

  .follower {
    display: inline;
    margin-left: -8px;
  }
  
  .follower img {
    height: 16px;
    width: 16px;
    border-radius: 50%;
  }
  
  .follower.number {
    background-color: #f5a623;
    height: 16px;
    width: 16px;
    display: inline-block;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    line-height: 18px;
    margin-left: -12px;
  }
  
  .dashes {
    display: inline-block;
    float: right;
    margin-top: 10px;
  }
  
  .dashes .dash {
    display: inline-block;
    height: 2px;
    width: 20px;
    background-color: #7148fc;
  }
  
  .dashes .dash.dark {
    opacity: 1;
  }
  
  .dashes .dash.medium {
    opacity: .59;
  }
  
  .dashes .dash.light {
    opacity: .25;
  }

  .plus-div {
    background-color: #f9f8fc;
    color: #a9a9a9;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    margin-right: 5px;
  }
  