
<nav class="navbar navbar-expand-lg navbar-light header">
  <div class="logo">
      Nello.
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <img class="boards-icon" src="assets/img/rectangle@2x.png"><span class="boards-text">Boards</span>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 search-form">
          <img class="boards-icon" src="assets/img/shape@2x.png">
          <input class="mr-sm-2 search-input" type="search" placeholder="Search..." aria-label="Search">
      </form>
      <div class="user-dropdown">
          <img class="boards-icon avatar" src="assets/img/ehab.jpg">
          <span class="hi">Hi</span><span class="name">, Ehab</span>
          <img class="dropdown-icon" src="assets/img/path2@2x.png">
      </div>
  </div>
</nav>
