/*navBar*/
.header {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    padding: 30px 60px;
  }
  
  .boards-icon {
    cursor: pointer;
    height: 18px;
    width: 18px;
  }
  
  .boards-text {
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #999999;
    padding-left: 10px;
  }
  
  .logo {
    position: absolute;
    left: calc(50% - 30px);
    font-family: serif;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #7148fc;
  }
  
  .search-form {
    position: relative;
  }
  
  .search-form img {
    position: absolute;
    left: 5px;
    height: 20px;
    width: 20px;
  }
  
  .search-form input {
    border: none;
    padding: 10px 35px;
    width: 150px;
    font-size: 14px;
    border-radius: 20px;
  }
  
  .search-form input::placeholder {
    color: #aaaaaa;
    font-weight: 200;
    font-style: italic;
  }
  
  .user-dropdown {
    padding-right: 40px;
    cursor: pointer;
  }
  
  .user-dropdown .hi, .user-dropdown .name {
    font-family: serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
  }
  
  .user-dropdown .hi {
    font-weight: 900;
    font-style: italic;
    color: #834bc4;
  }
  
  .user-dropdown .avatar {
    height: 33px;
    width: 33px;
    border-radius: 10px;
    margin-right: 5px;
  }
  
  .user-dropdown .dropdown-icon {
    height: 7px;
    margin-left: 10px;
  }

  @media (max-width: 768px) {
    .header{
        padding: 30px;
    }
    .logo{
        top: 40px;
    }
    li.nav-item {
        padding: 15px 0px;
    }
    .user-dropdown{
        margin-top: 20px;
    }
  }